.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

a{
    text-decoration: none;
    font-size: 30px;
    color: yellow;
}

img{
    height: 100px;
    width: 100px;
}